@font-face{
  src: url(https://fonts.googleapis.com/css?family=Raleway);
  src: url(https://fonts.googleapis.com/css?family=Rouge+Script);
}

body {
  max-width: 960px;
  background-color: #ffffff;
  margin: 0 auto;
}
