/*Header section formatting*/
header {
  display: block;
  width: 100%;
  background-color: #00796B;
  border: .1em solid #B6B6B6;
  margin: 0 auto;
  padding: 0;
}

.imgContainer {
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  width: 150px;
  margin: auto .3125em;
  padding: 1.5em;
  border-radius: 100%;
  background: url(../img/cookie.jpg);
}

header > .imgcontainer > img {
  text-align: center;
  vertical-align: middle;
  margin: .1875em;
  max-width: 10em;
}

header > h1 {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Rouge Script', cursive;
  font-size: 6.5em;
  font-weight: lighter;
  text-align: right;
  color: #FFFFFF;
  margin: auto;
  padding: inherit;
}

nav{
  background-color: #FF5722;
  display: block;
  max-width: 100%;
  text-align: center;
  border-top: .0625em solid #B6B6B6;
}

nav > a {
  display: inline-block;
  width: 8.5em;
  font-family: 'Georgia', serif;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  margin: auto;
  padding: .3125em;
}

/*Main body formatting*/
main{
  display: block;
  margin: 0 auto;
  padding: 0;
}

.center {
  max-width: 75%;
  display: inline-block;
}

.sidebar {
  max-width: 25%;
  display: inline-block;
  float: right;
}

h2 {
  display: inline-block;
  font-family: 'Rouge Script', cursive;
  font-size: 3em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

footer {
  max-width: 100%;
  height: 13.75em;
  margin: auto;
  padding: .625em;
  clear: both;
}

/*About section formatting*/
#about{
  display: inline-block;
  width: 100%;
  margin: 0 .5em;
  padding: 1em;
}

#about > img {
  display: block;
  float: left;
  vertical-align: top;
  border-radius: 100%;
  margin: .625em;
}

#about > p {
  display: block;
  vertical-align: top;
  padding: .3125em;
  margin: 0;
  padding: 0;
}

/*Buy our stuff section formatting*/
#buy {
  min-height: 11.25em;
  display: block;
  margin: 0 auto;
  padding: 0;
  clear: both;
}

#buy > img {
  max-width: 25%;
  display: inline-block;
  float: left;
}

#buy > p {
  max-width: 75%;
  display: inline-block;
}

/*Event section formatting*/
#eventSection {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

#eventSection > h2 {
  display: block;
}

.event {
display: inline-block;
margin: 1.25em;
padding: 1.5em;
}

.event > a {
display: block;
text-decoration: none;
max-width: 12em;
text-align: center;
}


.event > img {
display: block;
max-height: 8.125em;
}

/*Testimonial formatting section*/
#testimonials {
  display: inline;
  position: absolute;
  vertical-align: top;
  width: 100%;
  margin-left: auto;
  padding: .5em;
}

.testes {
  max-width: 100%;
  height: 17.625em;
  margin: auto;
  padding: .0625em;
  text-align: center;
  font-family: 'Georgia', serif;
}

blockquote {
  background-color: #FF5722;
}

.testtext1 {
}

.texttext2 {

}

.testtext3 {

}

.testpic {
  border-radius: 100%;
}

/*Contact section formatting*/
#contacts {
  display: block;
  width: 100%;
  background-color: #00796B;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  padding: .3125em;
  border: .1em solid #B6B6B6;
}

.storeContact {
  display: inline-block;
  width: 11em;
  height: 11em;
  padding: 1.5em;
  list-style-type: none;
  font-size: .8em;
  color: #727272;
  background-color: #FFFFFF;
  border-radius: 100%;
  border: .1em solid #B6B6B6;
  line-height: 2;
}

.contact {
  text-decoration: none;
  color: #727272;
}

/* Image formatting */
img {
  display: inline-block;
}

.small {
  max-width: 6.25em;
}

.medium {
  max-width: 6.25em;
}

.large {
  width: 18.75em;
}
